/******** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(0, 101, 252);
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.euro {
    font-weight: 700;
}

.font18{
    font-size: 18px;
}

.fa-solid {
    color: var(--main-color);
}

/***********header***********/

.nav-container{
    height:79px;
    display:flex;
    justify-content: space-between;
}

.logo{
    width: 61.09px;
    padding:30px 0;
}

nav{
    display: flex;
    flex-direction: column;
    width: 244px;
    height:35px;
    align-items: center;
    position:relative;

}

.nav-text{
    display: flex;
    justify-content:space-between;

}

.hebergements-link, .activites-link{
    text-align:center;
    padding-top: 16px;
    height: 35px;
    border-top: 2px solid#f2f2f200; 
    position:relative;
    /*on ajoute un border transparent pour éviter un décalage vers le haut lors du :hover*/
}

.hebergements-link{
width: 113px;
margin-right:34px;
color:var(--main-color);
}
.activites-link{
width: 63px;
margin-left: 34px;
}
.hebergements-link:hover, .activites-link:hover{
border-top: 2px solid var(--main-color);
padding-top: 16px; 
}

.hebergements-link:focus{
    color: var(--main-color);
}

.activites-link:focus{
    color: var(--main-color);
}

/****************Search*******************/
.search{
    height:281px;
    margin-bottom: 28px;
}

.main-title h1{
    font-size: 22px;
    margin: 35px 0 8px 0;
}

/****************Form********************/
.search-box{
    border-radius:15px;
    width:377px;
    height: 49px;
    display:flex;
    margin-top:35px;
}

.localize{
    width:50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.localize .fa-location-dot{
    color:black;
    text-align: center;
}

form{
    display: flex;
}

.search-form{
    border-top:1px solid#F2F2F2;
    border-bottom:1px solid#F2F2F2;
    border-left: none;
    border-right: none;
    width:195px;
    height: 49px;
    padding:15px 20px;

}
::placeholder{
    color:black;
    opacity: 1; 
}
.search-button{
    background-color:#0065FC;
    color:white;
    padding:15px 16px;
    width:132px;
    height: 49px;
    border:none;
    border-radius: 0 15px 15px 0;
}

.search-button:hover{
    background-color:#0065fc82;  
}

button{
    border:none;
}



.magnif-glass{
    width:49px;
    height:49px;
    background-color: #0065FC;
    border-radius: 15px;
    display:none;
}
.magnif-glass-wrapper{
    
    justify-content: center;
    align-items: center;
}
/*************filters********************/
.filter{
    display: flex;
}
.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:30px 0;
}
.filter-title{
    padding:15px 0;
}
.filter-wrapper{
    display: flex;
}

.filter-button{
    display: flex;
    padding: 13px 19px 13px 0;
    border: 2px solid #D9D9D9;
    border-radius:25px;
    margin-left:15px;
    font-size: 17px;
}

.filter-button:hover{
background-color: #DEEBFF;
}
.filter-icon{
    margin-left: 17px;
    margin-right: 11px;
}
.info{
display: flex;
align-items:center;
font-size: 16px;
}
.info-icon{
border:1px solid #D9D9D9;
padding:3px 10px;
border-radius:30px;
margin-right:10px;
}


/********* Hebergements And Populaires ***********/

.sect-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}


.neutral-star {
    color: var(--main-bg-color)
}


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.plus{
    margin-top:33px;
}

.plus:hover{
    color:rgba(0, 0, 0, 0.616)
}

.hebergements, .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards{
    width: 811px;
    height: 444px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    width:250.33px;
    height:207.25px;
}

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0 0;
    
}

.hebergements-cards .card-content {
    height: 79px;
    padding-left:9px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    font-size:16px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.hebergements-cards .card-subtitle {
    font-size:14px;
}

.hebergements-cards .card-rating {
    margin-top: 4px;
    font-size:18px;
    letter-spacing:1.67px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card, .hebergements-cards .card{
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 15px 0 0 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 2px;
    font-size:16px;
    letter-spacing:0.5px;
}

/************activités********/
.activites{
    margin:70px 0;   
}
.activites-title{
    margin-bottom:33px;
}

.activites-cards{
    display: flex;
    justify-content:space-between;
    width:1341px;   
}

.act-card{
    display:flex;
    flex-direction: column;
    width:297.5px;
    height:439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    /* box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1); */
}

.act-card img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.act-text{
    padding:20px;
}


/**************footer******************/
footer{
    display: flex;
    justify-content: space-between;
    width:1340px;
    height:163px;
    background-color: #F2F2F2;
}
.footer-column{
display: flex;
flex-direction: column;
margin-right:206px;
padding: 20px;
width: 240px;
}

ul{
    list-style-type: none;
    padding:0;
}

h4, li{
    margin-bottom:15px;
}

















































/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }


    /*****css d'origine enlevé*****/
    /*.populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    } */
    /*******************************/
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        width: 100%;
    }
    .main-container{
        padding:0;
        min-width:320px;
    }

    .nav-container{
        flex-direction:column;
        align-items:center;
        height:115px;
        margin-bottom:20px;
        width:100%;
    }

    nav{
        width:100%;
        height:36px;
    }

    .nav-text{
    width:100%;
    height:19px;
    padding: 0;
    }


    .hebergements-link, .activites-link{
        width:50%;
        padding: 0 0 15px 0;
        height: 35px;
        border-top: none; 
        border-bottom: 2px solid #f2f2f200;
        margin:0;
    }

    .grey-line{
        border: 1px solid var(--filter-bg-color);
        position:absolute;
        top:33.4px;
        z-index:1;
        width:100%;
}


.hebergements-link:hover, .activites-link:hover{
    border-top: none; 
    padding: 0 0 15px 0;
    border-bottom: 2px solid var(--main-color);
    z-index: 2;

}

.hebergements-link:hover ~ .blue-line-left{
    border: 1px solid var(--main-color);
    z-index:2;
    }

    .activites-link:hover{
    /* border-bottom: 2px solid var(--main-color); */
    border-top: none; 
    /* width:100%;
    position:relative; */
    padding:0 0 15px 0;
    }

/********search**********/


.localize{
    min-width:50px;
}

.search{
    width:90%;
    height:fit-content;
    margin:auto;
}
.search-box{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.search-form{
    width: 64vw;
}

/*******magnif-glass********/

.magnif-glass-wrapper{
    display: flex;
}
.magnif-glass{
    
    width:49px;
    box-shadow: 0 5px 3px #00000047;
}

.search-button{
    display:none;
}

/************filter*************/
.filter-container{
    flex-direction: column;
    align-items: flex-start;
    margin:25px auto;
}

.filter-title{
    padding:15px 2px;
}

.filter-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.filter-button {
    width: 47%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:0;
    padding:16px 19px 16px 0;
    font-size: 14px;
}

.info{
    padding-bottom: 6px;
}
/************cards**************/

.hebergements-and-populaires{
    margin-top:30px;
}

.populaires-title{
    margin-bottom:16px;
    margin-top: 13px;
    }

.populaires-cards{
    flex-direction: column;  
    } 
.populaires-cards a {
    width: 100%;
}


.populaires{
    order: 1;
    border-radius: 0;
    margin-top:0;
    padding:20px;
}

.populaires-cards .card{
    margin-top:0;
    margin-bottom:15px;
}

.hebergements{
    order:2;
    padding:35px 20px;
    border-radius: 0;
    background-color: white;
    height:1484px;
}
.hebergements-cards{
    flex-direction: column;
    flex-wrap: nowrap;
    width:100%;
}
.hebergements-cards img{
    height:115px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    padding-top: 7px;
}

.hebergements-cards .card{
    width:100%;
    margin-top:15px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}

.plus{
    margin-top:15px;
}
/********activités**************/

.activites{
    margin-top:0;
    margin-bottom:35px;
    padding:30px;
    width:100%
}

.activites-title{
    margin-bottom:19px;
}

.activites-cards{
width:100%;
flex-direction: column;
height:fit-content;
}
.act-card{
height:200px;
width: 100%;
margin-top:15px;
filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));

}

.act-card img{
    height:141px;
    
}
/*************footer**********/

footer{
    flex-direction: column;
    width:100%;
    height:fit-content;

}

.footer-column{
    width:100%;
    padding:30px 30px 5px 30px;
    margin-right:0;
}

}
