/******** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

body {
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.euro, .gras {
    font-weight: 700;
}

.font18 {
    font-size: 18px;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

.fa-location-dot {
    color: #000000;
    text-align: center;
}

.fa-magnifying-glass {
    color: #ffffff;
}
 
/***********header***********/

.nav-container {
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61.09px;
    padding: 30px 0;
}

nav {
    display: flex;
    flex-direction: column;
    width: 244px;
    height: 35px;
    align-items: center;
    position: relative;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.hebergements-link,
.activites-link {
    text-align: center;
    padding-top: 16px;
    height: 35px;
    border-top: 2px solid#f2f2f200; /* ajout d'un border transparent pour éviter un décalage vers le haut lors du :hover */
    position: relative;
}

.hebergements-link {
    width: 113px;
    margin-right: 34px;
}
.activites-link {
    width: 63px;
    margin-left: 34px;
}

.hebergements-link:hover,
.activites-link:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 16px;
    color: var(--main-color);
}

.hebergements-link:active {
    color: var(--main-color);
}

.activites-link:active {
    color: var(--main-color);
}

/****************Search*******************/
.search {
    height: 281px;
    margin-bottom: 37px;
}

.main-title h1 {
    font-size: 22px;
    margin: 30px 0 8px 0;
}

/****************Form********************/
.search-box {
    border-radius: 15px;
    width: 100%;
    height: 49px;
    display: flex;
    margin-top: 35px;
}

.localize {
    min-width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

.search-form {
    border-top: 1px solid#F2F2F2;
    border-bottom: 1px solid#F2F2F2;
    border-left: none;
    border-right: none;
    width: 195px;
    height: 49px;
    padding: 15px 24px;
}
::placeholder {
    color: black;
    opacity: 1;
}
.search-button {
    background-color: var(--main-color);
    color: white;
    padding: 15px 16px;
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 0 15px 15px 0;
}

.search-button:hover {
    background-color: #0065fc82;
}

button {
    border: none;
}

.magnif-glass-wrapper {
    justify-content: center;
    align-items: center;
}

.magnif-glass {
    width: 49px;
    height: 49px;
    background-color: var(--main-color);
    border-radius: 15px;
    display: none;
}

.magnif-glass:hover{
    background-color: #0065fc82;
}

/*************filters********************/
.filter {
    display: flex;
}
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0;
}

.filter-wrapper {
    display: flex;
}

.filter-button {
    display: flex;
    padding: 13px 19px 13px 0;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-left: 15px;
    font-size: 17px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}
.filter-icon {
    margin-left: 17px;
    margin-right: 11px;
}
.info {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.info-icon {
    border: 1px solid #d9d9d9;
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 10px;
}

/********* Hebergements And Populaires ***********/

.h2-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.plus {
    margin-top: 33px;
}

.plus:hover {
    color: rgba(0, 0, 0, 0.616);
}

.hebergements,
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards-wrapper .card {
    display: flex;
    flex-direction: column;
    width: 250.33px;
    height: 207.25px;
}

.hebergements-cards-wrapper img {
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0 0;
}

.hebergements-cards-wrapper .card-content {
    height: 79px;
    padding-left: 9px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards-wrapper .card-title {
    margin-bottom: 8px;
    margin-top: 2px;
}

.hebergements-cards-wrapper .card-rating {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1.67px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards-wrapper .card,
.hebergements-cards-wrapper .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards-wrapper img {
    width: 33%;
    height: 136px;
    border-radius: 15px 0 0 15px;
}

.populaires-cards-wrapper .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards-wrapper .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards-wrapper .card-rating {
    margin-bottom: 2px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

/************activités********/
.activites {
    margin: 35px auto;
    width: 95.5%;
}
.activites-title {
    margin-bottom: 33px;
    padding-top: 30px;
}

.activites-cards-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activites-cards-wrapper .card {
    display: flex;
    flex-direction: column;
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    margin: 0 5px;
    padding: 0;
}

.activites-cards-wrapper .card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.act-text {
    padding: 20px;
}

/**************footer******************/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 163px;
    background-color: var(--main-bg-color);
}
.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: 206px;
    padding: 20px;
    width: 19%; 
}

ul {
    list-style-type: none;
    padding: 0;
}

h4,
li {
    margin-bottom: 15px;
}

















/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-title {
        padding-bottom: 21px;
        padding-top: 3px;
    }

    .filter-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .filter-button {
        margin-left: 0;
        margin-right: 15px;
    }

    .search {
        height: 325px;
    }
    /*********hebergement et populaires************/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards-wrapper a {
        width: 30%;
    }
    /*************activites********************/

    .activites-cards-wrapper {
        margin: 0 auto;
    }

    .activites {
        width: 93.5%;
    }

    .activites-cards-wrapper .card {
        height: 270px;
        width: 193.5px;
    }

    .activites-cards-wrapper .card img {
        height: 200px;
    }

    .activites-card-text {
        display: flex;
        align-items: center;
        height: 70px;
    }
    /********footer********/
    footer {
        width: 100%;
        margin-top: 66px;
    }
    .footer-column {
        width: 31%;
        margin-right: 0;
    }

    /*******************************/
}














/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        width: 100%;
    }
    .main-container {
        padding: 0;
        min-width: 320px;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        height: 115px;
        margin-bottom: 20px;
        width: 100%;
    }

    nav {
        width: 100%;
        height: 36px;
    }

    .nav-text {
        width: 100%;
        height: 19px;
        padding: 0;
    }

    .hebergements-link,
    .activites-link {
        width: 50%;
        padding: 0 0 15px 0;
        height: 35px;
        border-top: none;
        border-bottom: 2px solid #f2f2f200;
        margin: 0;
    }

    .grey-line {
        border: 1px solid var(--filter-bg-color);
        position: absolute;
        top: 33.4px;
        z-index: 1;
        width: 100%;
    }

    .hebergements-link:hover,
    .activites-link:hover {
        border-top: none;
        padding: 0 0 15px 0;
        border-bottom: 2px solid var(--main-color);
        z-index: 2;
    }

    .hebergements-link:hover ~ .blue-line-left {
        border: 1px solid var(--main-color);
        z-index: 2;
    }

    .activites-link:hover {
        border-top: none;
        padding: 0 0 15px 0;
    }

    /********search**********/

    .search {
        width: 90%;
        height: fit-content;
        margin: auto;
    }
    .search-box {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .search-form {
        width: 64vw;
    }

    /*******magnif-glass********/

    .magnif-glass-wrapper {
        display: flex;
    }
    .magnif-glass {
        width: 49px;
        box-shadow: 0 5px 3px #00000047;
    }

    .search-button {
        display: none;
    }

    /************filter*************/
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        margin: 25px auto;
    }

    .filter-title {
        padding: 15px 2px;
    }

    .filter-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .filter-button {
        width: 47%;
        margin: 10px 0;
        padding: 16px 19px 16px 0;
        font-size: 14px;
    }

    .info {
        padding-bottom: 6px;
    }
    /************cards**************/

    .hebergements-and-populaires {
        margin-top: 30px;
    }

    .populaires-title {
        margin-bottom: 16px;
        margin-top: 13px;
    }

    .populaires-cards-wrapper {
        flex-direction: column;
    }
    .populaires-cards-wrapper a {
        width: 100%;
    }

    .populaires {
        order: 1;
        border-radius: 0;
        margin-top: 0;
        padding: 20px;
    }

    .populaires-cards-wrapper .card {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .hebergements {
        order: 2;
        padding: 35px 20px;
        border-radius: 0;
        background-color: white;
        height: 1484px;
    }
    .hebergements-cards-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    .hebergements-cards-wrapper img {
        height: 115px;
    }

    .hebergements-cards-wrapper .card-content {
        padding-left: 10px;
        padding-top: 7px;
    }

    .hebergements-cards-wrapper .card {
        width: 100%;
        margin-top: 15px;
    }

    .plus {
        margin-top: 15px;
    }
    /********activités**************/

    .activites {
        margin-top: 0;
        margin-bottom: 35px;
        padding: 0 30px 30px 30px;
        width: 100%;
    }

    .activites-title {
        margin-bottom: 19px;
    }

    .activites-cards-wrapper {
        flex-direction: column;
        height: fit-content;
    }

    .activites-cards-wrapper .card {
        height: 200px;
        width: 100%;
        margin-top: 15px;
    }

    .activites-cards-wrapper .card img {
        height: 141px;
    }
    /*************footer**********/

    footer {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 0;
    }

    .footer-column {
        width: 100%;
        padding: 30px 30px 5px 30px;
        margin-right: 0;
    }
}
